<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div style="text-align: center">
                <h4>Change password</h4>
            </div>
            <div class="card-body">
                <form id="form" [formGroup] = "form" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <input type="password" class="form-control" id="old_password" placeholder="Current password" [formControlName] = "'old_password'">
                        <span  id = "spanInvalid" *ngIf = "!form.get('old_password')?.valid && form.get('old_password')?.touched">Invalid current password</span>

                        <input type="password" class="form-control" id="new_password" placeholder="New password" [formControlName] = "'new_password'">
                        <span  id = "spanInvalid" *ngIf = "!form.get('new_password')?.valid && form.get('new_password')?.touched">Invalid new password</span>

                        <input type="password" class="form-control" id="repeated_password" placeholder="Repeat new password" [formControlName] = "'repeated_password'">
                        <span  id = "spanInvalid" *ngIf = "!form.get('repeated_password')?.valid && form.get('repeated_password')?.touched">Invalid new password</span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save new password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</div>