<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div style="text-align: center">
                <h4>Change password</h4>
            </div>
            <div class="card-body">
                <form id="form" [formGroup] = "form">

                    <div class="form-group">
                        <input type="email" class="form-control" id="password" placeholder="Current password" [formControlName] = "'password'">
                        <span  id = "spanInvalid" *ngIf = "!form.get('currPass')?.valid && form.get('currPass')?.touched">Invalid current password</span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send E-mail</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</div>
