.col-sm-8 {
    border: 1px solid #dddddd;
}
.post-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.post{
  margin: 10px;
}

.title{
  font-weight: bold;
  font-size: x-large;
}

.pull-left{
  font-weight: bold;
  margin-right: 10px;
}

.container{
  margin-bottom: 10px;
}
.username{
  font-style: italic;
}

[name="heart"] {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 30px;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[name="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

.heart{
  font-size: 30px;
}

.likes{
  font-size: 12px;
  background-color: transparent;
  border-color: #1DA1F2;
  border-radius: 4px;
  margin-left: 6px;
  margin-top: 5px;
}


@keyframes heart {0%, 17.5% {font-size: 0;}}