<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form >
        <a href="https://localhost:4200/unlogged-home">
          <img src="assets/images/logo.png" alt="" width="50" height="40">
        </a>
      </form>
      <form class="form-inline">
        <button routerLink="/login" type="button" class="float-right login mr-2">Login</button>
        <button routerLink="/signup" type="button" class="float-right signup mr-2">Sign up</button>
      </form>
    </div>
  </nav>
</header>
