<header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form >
          <a href="https://localhost:4200/logged-home">
            <img src="assets/images/logo.png" width="50" height="40">
          </a>
        </form>
        <form class="form-inline">
          <button routerLink="/create-post" type="button" class="float-right login mr-2">add post</button>
          <button routerLink="/my-profile" type="button" class="float-right signup mr-2">profile</button>
        </form>
      </div>
    </nav>
  </header>
