<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div style="text-align: center" id="header">
                <h4>Sign Up</h4>
            </div>
            <div class="card-body">
                    <form id="form" [formGroup]="register" (ngSubmit)="submit()">

                        <div>
                            <input type="email" class="form-control" placeholder="Email"  [formControlName] = "'email'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('email')?.valid && register.get('email')?.touched">Invalid email</span>
                        </div>

                        <div>
                            <input type="password" class="form-control" placeholder="Password" [formControlName] = "'password'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('password')?.valid && register.get('password')?.touched">Invalid password - password must contain at least eight characters, one uppercase and one lowercase letter, one number and one special character (#?!@$%^&*-)</span>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="Username"  [formControlName] = "'username'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('username')?.valid && register.get('username')?.touched">Invalid username</span>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="First name"  [formControlName] = "'firstName'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('firstName')?.valid && register.get('firstName')?.touched">Invalid first name</span>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="Last name"  [formControlName] = "'lastName'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('lastName')?.valid && register.get('lastName')?.touched">Invalid last name</span>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="Country"  [formControlName] = "'country'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('country')?.valid && register.get('country')?.touched">Invalid country</span>
                        </div>

                        <div>
                            <select [formControlName]="'gender'" class="form-group">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <span  id = "spanInvalid" *ngIf = "!register.get('gender')?.valid && register.get('gender')?.touched">Choose gender</span>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="Your age"  [formControlName] = "'age'">
                            <span  id = "spanInvalid" *ngIf = "!register.get('age')?.valid && register.get('age')?.touched">Invalid age</span>
                        </div>

                        <div>
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" class="form-group"></ngx-recaptcha2>
                        </div>
    
                        <div>
                            <button type="submit" class="btn btn-primary" >Sign up</button>
                        </div>

                        <div>
                            <a href="/signup-business" class="form-group">Register buisness profile</a>
                        </div>
    
                    </form>
            </div>
        </div>
    </div>
</div>
